{% extends "layout.html" %}

{% block title %}
    Add an Expense
{% endblock %}

{% block head %}
  <!-- This makes the whole table lines a clickable single object -->
  <style>
    td a { 
      display: block;
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="starter-template text-center py-5 px-3">
    <h1>Expenses</h1>
    <p class="lead">List of expenses.<br> Select by clicking any row.</p>
  </div>

  <div class="table-responsive">
    <table class="table table-hover text-nowrap" id="expensesTable">
      <caption>All expenses posted with date </caption>
      <!-- <thead class="table-success"> -->
      <thead class="table-secondary">
        <tr>
          <th scope="col" onclick="sortTable(0)">Date</th>
          <th scope="col" onclick="sortTable(1)">Description</th>
          <th scope="col" onclick="sortTable(2)">Category</th>
          <th scope="col" onclick="sortTable(3)">Account</th>
          <th scope="col" onclick="sortTable(4)" style="text-align: right;">Amount</th>
          <th scope="col" onclick="sortTable(5)" style="text-align: center;">Checked</th>
        </tr>
      </thead>
      <tbody id="searchable_table">
        {% for items in table_list_data %}
        <tr>
          <td style="text-align: left;"><a href="/view/{{ items[6] }}" style="color: inherit; text-decoration: none;">{{ items[0] }}</a></td>
          <td style="text-align: left;"><a href="/view/{{ items[6] }}" style="color: inherit; text-decoration: none;">{{ items[1] }}</a></td>
          <td style="text-align: left;"><a href="/view/{{ items[6] }}" style="color: inherit; text-decoration: none;">{{ items[2] }}</a></td>
          <td style="text-align: left;"><a href="/view/{{ items[6] }}" style="color: inherit; text-decoration: none;">{{ items[3] }}</a></td>
          <td style="text-align: right;"><a href="/view/{{ items[6] }}" style="color: inherit; text-decoration: none;">{{ "%.2f"|format(items[4] * -1)}}</a></td>
          <td class="text-success" style="text-align: center;"><a href="/view/{{ items[6] }}" style="color: inherit; text-decoration: none;">{{ items[5] }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="h7 col-md-4">Search the table: </div>
    <input class="h7 col-md-6" id="st_" type="text" placeholder="Search here">
  </div>

  <!-- Script for dynamic tables -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="./static/table-tools.js"></script>

{% endblock %}